{{ template "chart.header" . }}

{{ template "chart.description" . }}

### This is a chart to deploy a poc hello world application to an AKS cluster. 

### This chart is for POC and demonstration purposes only and not intended for production use
{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}
