apiVersion: secrets-manager.tuenti.io/v1alpha1
kind: SecretDefinition
metadata:
  name: secretdefinition-elastcicsearch-gcs-sa
  labels:
{{ include "elasticsearch.labels" . | indent 4 }}
spec:
  name: {{ .Values.name }}-gcs-sa
  keysMap:
    snapshot_credentials.json:
      path: {{ .Values.vault.pathPrefix }}/elasticsearch/terraform/backup-sa
      encoding: base64
      key: sa-key.json.b64
    