name: atlantis
serviceAccount: atlantis
cert:
  secretName: atlantis-cert
  duration: 2160h0m0s # 3 months
  renewBefore: 360h0m0s # Renew cert 15 days before exp
  organization: broad-institute
  dnsName: atlantis.dsp-devops.broadinstitute.org
  issuerName: letsencrypt-prod
  issuerKind: ClusterIssuer
  issuerGroup: cert-manager.io
atlantis:
  fullnameOverride: atlantis
  serviceAccount:
    name: atlantis

azure:
  enabled: false
  certificateFile: "azure-cert.pfx"
vault:
  azure:
    pathPrefix: /path/to/azure/secrets
  github:
    pathPrefix: /path/to/github/secrets
  cleanup:
    # vault.cleanup.path -- Path in Vault where base64-encoded GCP service account key for pod cleanup is stored
    path:
    # vault.cleanup.key -- Key in Vault where base64-encoded GCP service account key for pod cleanup is stored
    key:

cleanup:
  # cleanup.enabled -- Whether to automatically clear provider cache
  enabled: false
  # cleanup.atlantisPod -- Static name of the atlantis pod
  atlantisPod: "atlantis-0"
  # saName -- Name of the k8s SA to make for running the job
  saName: "atlantis-cleanup-sa"
  # cleanup.clusterName -- Name for the GKE cluster
  clusterName: "dsp-tools"
  # cleanup.clusterLocation -- Where the GKE cluster is located 
  clusterLocation: "us-central1-a"
  # cleanup.clusterProject -- Project the GKE cluster is in
  clusterProject: "dsp-tools-k8s"
  # cleanup.timeoutSeconds -- How many seconds to wait before assuming job is hung and killing it
  timeoutSeconds: 3600 # 1 hr
  cloudsdkImage:
    # cleanup.cloudsdkImage.repository -- Image repository to use for Cloud SDK
    repository: gcr.io/google.com/cloudsdktool/cloud-sdk
    # cleanup.cloudsdkImage.repository -- Image tag to use for Cloud SDK
    tag: '342.0.0'
