apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-deployment
  labels:
    {{ template "poc.labels" . }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      name: {{ .Chart.Name }}-service
      labels:
        app: {{ .Chart.Name }}
    spec:
      serviceAccountName: {{ .Chart.Name }}-service-sa
      containers:
      - name: {{ .Chart.Name }}
        image: "{{- if .Values.image -}}
            {{ .Values.image }}
          {{- else -}}
            {{ .Values.imageConfig.repository }}:{{ default .Values.appVersion .Values.imageConfig.tag }}
          {{- end }}"
        imagePullPolicy: {{ .Values.imageConfig.imagePullPolicy }}
        {{- if not .Values.proxy.enabled }}
        ports:
        - containerPort: 8080
        {{- end }}
        env:
        - name: DATABASE_USER
          {{- if not .Values.postgres.enabled }}
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-postgres-db-creds
              key: username
          {{- else }}
          value: postgres
          {{- end }}
        - name: DATABASE_USER_PASSWORD
          {{- if not .Values.postgres.enabled }}
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-postgres-db-creds
              key: password
          {{- else }}
          value: {{ .Values.postgres.password }}
          {{- end }}
        - name: DATABASE_NAME
          {{- if not .Values.postgres.enabled }}
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-postgres-db-creds
              key: db
          {{- else }}
          value: {{ index .Values.postgres.dbs 0 }}
          {{- end }}
      {{- if not .Values.postgres.enabled }}
      - name: cloudsql-proxy
        image: gcr.io/cloudsql-docker/gce-proxy:1.16
        env:
        - name: SQL_INSTANCE_PROJECT
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-cloudsql-postgres-instance
              key: project
        - name: SQL_INSTANCE_REGION
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-cloudsql-postgres-instance
              key: region
        - name: SQL_INSTANCE_NAME
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-cloudsql-postgres-instance
              key: name
        command: ["/cloud_sql_proxy",
                  "-instances=$(SQL_INSTANCE_PROJECT):$(SQL_INSTANCE_REGION):$(SQL_INSTANCE_NAME)=tcp:5432",
                  "-credential_file=/secrets/sa/service-account.json"]
        securityContext:
          runAsUser: 2  # non-root user
          allowPrivilegeEscalation: false
        volumeMounts:
        - name: sa-creds
          mountPath: /secrets/sa
          readOnly: true
      {{- else }}
      {{- include "postgres.container.tpl" . | indent 6 }}
      {{- end }}
      {{- if .Values.proxy.enabled }}
      - name: oidc-proxy
        image: "{{ .Values.proxy.image.repository }}:{{ .Values.proxy.image.version }}"
        ports:
        - containerPort: 443
        - containerPort: 80
        volumeMounts:
        - mountPath: /etc/apache2/sites-available/site.conf
          name: apache-httpd-proxy-config
          subPath: {{ .Chart.Name }}-proxy.conf
        - mountPath: /etc/ssl/certs/server.crt
          subPath: tls.crt
          name: cert
          readOnly: true
        - mountPath: /etc/ssl/private/server.key
          subPath: tls.key
          name: cert
          readOnly: true
      {{- end }}
      volumes:
        {{- if not .Values.postgres.enabled }}
        - name: sa-creds
          secret:
            secretName: {{ .Chart.Name }}-sa
        {{- else }}
        {{- include "postgres.volume.tpl" . | indent 8 }}
        {{- end }}
        {{- if .Values.proxy.enabled }}
        - name: apache-httpd-proxy-config
          configMap:
            name: {{ .Chart.Name }}-proxy-configmap
            items:
            - key: apache-httpd-proxy-config
              path: {{ .Chart.Name }}-proxy.conf
        - name: cert
          secret:
            secretName: {{ .Chart.Name }}-cert
        {{- end }}
