apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ required "A project name is required" .Values.projectName  }}
spec:
  {{- if .Values.description }}
  description: {{ .Values.description | quote }}
  {{- end }}
  destinations: {{ .Values.destinations | toYaml | nindent 4 }}
  sourceRepos:
  - "*"
  roles:
  - description: "Edit privileges for all applications in {{ .Values.projectName }}"
    name: edit
    policies:
    - "p, proj:{{ .Values.projectName }}:edit, applications, *, {{ .Values.projectName }}/*, allow"
    groups:
    - "local-suitable" # local-suitable is an ArgoCD test account used for testing permissions.
    - "broadinstitute:Workbench Admins"
    {{- if not .Values.requireSuitable }}
    - "local-notsuitable" # local-notsuitable is an ArgoCD test account used for testing permissions.
    - "broadinstitute:DSDE Engineering"
    {{- end }}
  - description: Service account permissions used by CI/CD tools to deploy applications in {{ .Values.projectName }}
    name: deploy
    policies:
    - "p, proj:{{ .Values.projectName }}:deploy, applications, sync, {{ .Values.projectName }}/*, allow"
    - "p, proj:{{ .Values.projectName }}:deploy, applications, action/apps/Deployment/restart, {{ .Values.projectName }}/*, allow"
    groups:
    {{- if .Values.requireSuitable }}
    - "fcprod-jenkins"
    {{- else }}
    - "fc-jenkins"
    {{- end }}
