apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: prometheus-to-sd-role
  namespace: {{ .Values.namespaceOverride }}
  labels: {{ include "prometheus.labels" . | nindent 4 }}
rules:
- apiGroups: ['policy']
  resources: ['podsecuritypolicies']
  verbs:     ['use']
  resourceNames:
  - terra-default-psp
