{{- if .Values.proxy.tcell.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.name }}-tcell-configmap
  labels:
    {{- include "buffer.labels" . | nindent 4 }}
data:
  tcell-config: |-
    {
      "version": 1,
      "applications": [
        {
          "app_id": "$(TCELL_APP_ID)",
          "api_key": "$(TCELL_API_KEY)",
          "tcell_api_url": "https://us.agent.tcell.insight.rapid7.com/api/v1",
          "tcell_input_url": "https://us.input.tcell.insight.rapid7.com/api/v1",
          "js_agent_api_base_url": "https://us.agent.tcell.insight.rapid7.com/api/v1",
          "host_identifier":"{{ .Values.proxy.tcell.hostIdentifier }}",
          "logging_options":{"enabled":true,"level":"INFO","filename":"mytcell.log"}
        }
      ]
    }
{{- end}}